<div *ngIf="!isNewDeploay">
  <div class="row ">
    <div class="container-fluid">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
          <h1 class="display-4">Create A Deployment Plan</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum, orci quis sagittis
            consequat, tortor ipsum bibendum mi, non vehicula odio urna nec turpis. Phasellus egestas elit eget nisl
            dignissim, ac elementum dolor faucibus.</p>
          <button type="button" class="btn btn-primary" (click)="onNewdeploymentStart()">
            Get Started
          </button>
        </div>
      </div>
    </div>

    <div class="row m-t-10" *ngIf="projectList.length > 0">
      <div class="col-xl-4 col-md-6 mb-4" *ngFor="let project of projectList">
        <div class="card loction-user">
          <div *ngIf="project.offlineServices > 0 || project.warningServices > 0" class="card-badge shadow-2"
            [ngClass]="{'error': project.offlineServices > 0}">
            <i class="fal"
              [ngClass]="{'fa-exclamation-triangle': project.offlineServices > 0, 'fa-exclamation-circle': project.offlineServices < 1 && project.warningServices > 0 }"></i>
          </div>
          <div class="card-block p-0">
            <div class="row align-items-center justify-content-center p-5">
              <div class="col-auto">
                <img class="img-fluid rounded-circle" style="width:80px;" [src]="project.imageUrl" alt="dashboard-user">
              </div>
              <div class="col">
                <h5>{{project.name}}</h5>
                <span><i class="fal fa-arrow-right f-18 m-r-5"></i> Some secondary information</span>
              </div>
            </div>
            <div class="border-top"></div>
            <div class="loction-progress p-5">
              <h6 class="m-b-10">
                Online: {{project.numberOfServices - project.offlineServices}}
                <span class="float-right">
                  Offline: {{project.offlineServices}}
                </span>
              </h6>
              <div class="progress">
                <div class="progress-bar progress-c-theme2" role="progressbar"
                  [ngStyle]="{'width': calculatePercentage(project.numberOfServices, project.offlineServices).first + '%'}">
                </div>
              </div>
              <h5 class="f-w-300 m-t-20  text-muted">
                {{calculatePercentage(project.numberOfServices, project.offlineServices).first}}%
                <span class="float-right">
                  {{calculatePercentage(project.numberOfServices, project.offlineServices).second}}%
                </span>
              </h5>
            </div>
            <div class="border-top"></div>
            <div class="project-main p-5">
              <div class="row text-center">
                <div class=" col-6">
                  <h6 class="text-muted"><i class="fal fa-server"></i>All Services: <b>{{project.numberOfServices}}</b>
                  </h6>
                </div>
                <div class="col-md-4 col-6">
                  <h6 class="text-muted"><i class="fal fa-map-marker-alt m-r-5"></i>USA</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<smart-panel *ngIf="isNewDeploay" [collapsible]="true" [fullscreenable]="true" [clossable]="true" id="panel-1" #panel1 >
  <h2 panelTitle>Project Deployment wizard</h2>
  <div panelContent>
    <wizard #wizard class="arc-wizard" navBarLocation="left">
      <wizard-step stepTitle="PROJECT">
        <div class="row form-group">
          <div class="col-sm-12">
            <input class="form-control" name="deploymentPlanName" [(ngModel)]="deploymentPlanName"
              placeholder="Deployment Plan Name" value="">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12">
            <textarea class="form-control" name="deploymentPlanDesc" [(ngModel)]="deploymentPlanDesc"
              placeholder="Deployment Plan Description"></textarea>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <select name="select" [(ngModel)]="selectedProject" class="form-control form-control-default">
              <option value="">Select a Project</option>
              <option *ngFor="let item of projectListDD" [(value)]="item.key">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <select name="select" [(ngModel)]="selectedProject" class="form-control form-control-default">
              <option value="">Environment</option>
              <option *ngFor="let item of envListDD" [(value)]="item.key">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12">
            <div class="btn-group mt-10" style="float: right">
              <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
            </div>
          </div>
        </div>
      </wizard-step>
      <wizard-step stepTitle="CLUSTER">
        <div class="row">
          <div class="col-sm-12">
            <h5>Select A Cluster</h5>
            <hr>
            <h6>Sub title 1</h6>
            <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content
                content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text.</p>
            <h6 class="mt-3">Sub title 2</h6>
            <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text.</p>
          </div>
          <div class="col-sm-6">

            <select name="select" [(ngModel)]="selectedCluster" (ngModelChange)="onClusterChange()"
              class="form-control form-control-default">
              <option value="">Select a Cluster</option>
              <option *ngFor="let cluster of clusterList" [(value)]="cluster.key">
                {{cluster.name}}
              </option>
            </select>
          </div>
          <div class="col-sm-12">
            <div class="btn-group mt-10" style="float: right">
              <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
              <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
            </div>
          </div>
        </div>
      </wizard-step>
      <wizard-step stepTitle="SERVICES">
        <smart-panel [collapsible]="true" [fullscreenable]="true" [clossable]="true" id="panel-2" #panel2>
          <h2 panelTitle>Select Services</h2>
          <div panelContent>
            <div class="custom-control custom-checkbox"><input class="custom-control-input" id="customCheck1"
                type="checkbox"><label class="custom-control-label" for="customCheck1">View All Services Version</label>
            </div>

            <dual-list [sort]="keepSorted" [source]="serviceList" key="key" display="name" [filter]="filter"
              height="265px" [(destination)]="confirmedServiceList"></dual-list>
          </div>
        </smart-panel>
        <div class="col-sm-12">
          <div class="btn-group mt-10" style="float: right">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
            <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
          </div>
        </div>
      </wizard-step>
      <wizard-step stepTitle="SUMMARY">
        <div class="row">
          <div class="col-sm-12">
            <h5>Deployment</h5>
            <hr>
            <form>
              <div class="form-group row"><label class="col-sm-3 col-form-label" for="colFormLabelLg">Project
                  Name:</label>
                <div class="col-sm-9"><input class="form-control-plaintext" value="X"></div>
              </div>
              <!-- <div class="form-group row"><label class="col-sm-3 col-form-label"
                  for="colFormLabelLg">Services:</label>
                <div class="col-sm-9"><input class="form-control-plaintext"
                    [value]="this.confirmedServiceList ? this.confirmedServiceList.length : ''"></div>
              </div> -->

              <div class="accordion" id="accordionExample">
                <div class="card" >
                  <div class="card-header">
                    <a (click)="collapsed = !collapsed" [class.collapsed]="collapsed"
                      [attr.aria-expanded]="!collapsed" class="card-title">
                      Service : {{confirmedServiceList.length}}
                      <span class="ml-auto">
                        <span class="collapsed-reveal">
                          <i class="fal fa-chevron-up fs-xl"></i>
                        </span>
                        <span class="collapsed-hidden">
                          <i class="fal fa-chevron-down fs-xl"></i>
                        </span>
                      </span>
                    </a>
                  </div>
                  <div [collapse]="!collapsed" [isAnimated]="true" class="multi-collapse">
                    <div class="card-body">
                      <ul class="list-group">
                        <li *ngFor="let item of confirmedServiceList" class="list-group-item">
                          {{item.name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-3 col-form-label" for="colFormLabelLg">Kubernetes
                  Cluster:</label>
                <div class="col-sm-9"><input class="form-control-plaintext" [value]="selectedClusterName"></div>
              </div>

            </form>
          </div>
          <div class="col-sm-12">
            <div class="btn-group mt-10" style="float: right">
              <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="confirmAlert()">Deploy</button>
            </div>
          </div>
        </div>
      </wizard-step>
    </wizard>
  </div>
</smart-panel>