<smart-panel [collapsible]="true" [fullscreenable]="true" [clossable]="true" id="panel-3" #panel3>
  <h2 panelTitle>
    List
    <span class="fw-300"><i>Deployments</i></span>
  </h2>
  <div panelContent>
    <div class="panel-tag">
      You can arrange your filters like so to filter accordion headings
    </div>
    <div class="border bg-light rounded-top mb-3">
      <div class="form-group p-2 m-0 rounded-top">
        <input type="text" [(ngModel)]="filterString" class="form-control form-control-lg shadow-inset-2 m-0" placeholder="Filter Deployments">
      </div>
      <div class="frame-wrap w-100 p-2">
        <div class="accordion" id="accordionExample">
          <div class="card" *ngFor="let deployment of deploymentsList | filter:filterString:'title' ; let i = index">
            <div class="card-header">
              <a (click)="deployment.collapsed = !deployment.collapsed" [class.collapsed]="deployment.collapsed"
                 [attr.aria-expanded]="!deployment.collapsed" class="card-title">
                <i class="fal width-2 fs-xl" [ngClass]="deployment.icon"></i>
                {{deployment.title}}
                <span class="ml-auto">
                      <span class="collapsed-reveal">
                        <i class="fal fa-chevron-up fs-xl"></i>
                      </span>
                      <span class="collapsed-hidden">
                        <i class="fal fa-chevron-down fs-xl"></i>
                      </span>
                    </span>
              </a>
            </div>
            <div [collapse]="!deployment.collapsed" [isAnimated]="true" class="multi-collapse">
              <div class="card-body">
                {{deployment.body}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="filter-message js-filter-message"></span>
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary" [routerLink]="['/deployment/list']">List Deployments</button>
    </div>
  </div>
</smart-panel>
