<alert type="primary" #alert1>
  <button type="button" class="close" (click)="alert1.close()" aria-label="Close">
    <span aria-hidden="true">
      <i class="fal fa-times"></i>
    </span>
  </button>
  <div class="d-flex flex-start w-100">
    <div class="mr-2">
      <span class="icon-stack icon-stack-lg">
        <i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
        <i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
        <i class="fal fa-info icon-stack-1x opacity-100 color-white"></i>
      </span>
    </div>
    <div class="d-flex flex-fill">
      <div class="flex-fill">
        <span class="h5">Organise your services into a deployment</span>
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum,
        orci quis sagittis consequat, tortor ipsum bibendum mi, non vehicula odio urna nec turpis.
        Phasellus egestas elit eget nisl dignissim, ac elementum dolor faucibus. Quisque massa est,
        tincidunt a molestie vitae, blandit id neque. Quisque consequat ultrices aliquet
      </div>
    </div>
  </div>
</alert>
<div class="row">
  <div class="col-xl-6">
    <smart-panel [collapsible]="true" [fullscreenable]="true" [clossable]="true" id="panel-1" #panel1>
      <h2 panelTitle>
        Create <span class="fw-300"><i>Deployment</i></span>
      </h2>
      <div panelContent>
        <div class="panel-tag mb-3">
          Lorem ipsum dolor sit amet
        </div>

        <div class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum,
          orci quis sagittis consequat, tortor ipsum bibendum mi, non vehicula odio urna nec turpis.
        </div>

        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" [routerLink]="['/deployment/create-deployment']">Create
            Deployment</button>
        </div>
      </div>
    </smart-panel>
    <smart-panel [collapsible]="true" [fullscreenable]="true" [clossable]="true" id="panel-2" #panel2>
      <h2 panelTitle>
        Deployment <span class="fw-300"><i>Invites</i></span>
      </h2>
      <div panelContent>
        <div class="panel-tag mb-3">
          Lorem ipsum dolor sit amet
        </div>

        <div class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum,
          orci quis sagittis consequat, tortor ipsum bibendum mi, non vehicula odio urna nec turpis.
        </div>

        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" [routerLink]="['/deployment/invites']">Deployment Invites</button>
        </div>
      </div>
    </smart-panel>
  </div>
  <div class="col-xl-6">
    <smart-list-deployments></smart-list-deployments>
  </div>
</div>
