<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon fal fa-chart-area"></i> Analytics <span class="fw-300">Admin Dashboard</span>
    <small>
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-sm-6 col-xl-3">
    <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
      <div class="">
        <h3 class="display-4 d-block l-h-n m-0 fw-500">
          {{usersCount}}
          <small class="m-0 l-h-n">Total Customer</small>
        </h3>
      </div>
      <i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
      <div class="">
        <h3 class="display-4 d-block l-h-n m-0 fw-500">
          {{formsCount}}
          <small class="m-0 l-h-n">Total Form</small>
        </h3>
      </div>
      <i class="fal fa-gem position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
      <div class="">
        <h3 class="display-4 d-block l-h-n m-0 fw-500">
          {{questionCount}}
          <small class="m-0 l-h-n">Total Question</small>
        </h3>
      </div>
      <i class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6"
        style="font-size: 8rem;"></i>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
      <div class="">
        <h3 class="display-4 d-block l-h-n m-0 fw-500">
          +xx%
          <small class="m-0 l-h-n">Average Completion Rate of Form</small>
        </h3>
      </div>
      <i class="fal fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4"
        style="font-size: 6rem;"></i>
    </div>
  </div>
</div>