<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon fal fa-chart-area"></i> Analytics <span class="fw-300">Dashboard</span>
    <small>
    </small>
  </h1>
  <div class="subheader-block d-lg-flex align-items-center">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-50">
        <small>EXPENSES</small>
      </span>
      <span class="fw-500 fs-xl d-block color-primary-500">
        $47,000
      </span>
    </div>
    <span class="sparklines hidden-lg-down" sparktype="bar" sparkbarcolor="#886ab5" sparkheight="32px"
      sparkbarwidth="5px" values="3,4,3,6,7,3,3,6,2,6,4"><canvas width="85" height="32"
        style="display: inline-block; width: 85px; height: 32px; vertical-align: top;"></canvas></span>
  </div>
  <div
    class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-50">
        <small>MY PROFITS</small>
      </span>
      <span class="fw-500 fs-xl d-block color-danger-500">
        $38,500
      </span>
    </div>
    <span class="sparklines hidden-lg-down" sparktype="bar" sparkbarcolor="#fe6bb0" sparkheight="32px"
      sparkbarwidth="5px" values="1,4,3,6,5,3,9,6,5,9,7"><canvas width="85" height="32"
        style="display: inline-block; width: 85px; height: 32px; vertical-align: top;"></canvas></span>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 sortable-grid ui-sortable">
    <div id="panel-1" class="panel panel-locked panel-sortable" data-panel-lock="false" data-panel-close="false"
      data-panel-fullscreen="false" data-panel-collapsed="false" data-panel-color="false" data-panel-locked="false"
      data-panel-refresh="false" data-panel-reset="false" role="widget">
      <div class="panel-hdr" role="heading">
        <h2 class="ui-sortable-handle">
          Live Feeds
        </h2>
        <div class="panel-toolbar pr-3 align-self-end" role="menu">
          <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0 nav-tabs-clean" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab_default-1" role="tab">Live Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab_default-2" role="tab">Revenue</a>
            </li>
          </ul>
        </div>
        <div class="panel-saving mr-2" style="display:none"><i class="fal fa-spinner-third fa-spin-4x fs-xl"></i></div>
      </div>
      <div class="panel-container show" role="content">
        <div class="panel-content border-faded border-left-0 border-right-0 border-top-0">
          <div class="row no-gutters">
            <div class="col-lg-7 col-xl-8">
              <div class="position-relative">
                <div class="custom-control custom-switch position-absolute pos-top pos-left ml-5 mt-3 z-index-cloud">
                  <input type="checkbox" class="custom-control-input" id="start_interval">
                  <label class="custom-control-label" for="start_interval">Live Update</label>
                </div>
                <div id="updating-chart" style="height: 242px; padding: 0px; position: relative;"><canvas
                    class="flot-base" width="583" height="242"
                    style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 583.906px; height: 242px;"></canvas><canvas
                    class="flot-overlay" width="583" height="242"
                    style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 583.906px; height: 242px;"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-xl-4 pl-lg-3">
              <div class="d-flex mt-2">
                My Tasks
                <span class="d-inline-block ml-auto">130 / 500</span>
              </div>
              <div class="progress progress-sm mb-3">
                <div class="progress-bar bg-fusion-400" role="progressbar" style="width: 65%;" aria-valuenow="65"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex">
                Transfered
                <span class="d-inline-block ml-auto">440 TB</span>
              </div>
              <div class="progress progress-sm mb-3">
                <div class="progress-bar bg-success-500" role="progressbar" style="width: 34%;" aria-valuenow="34"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex">
                Bugs Squashed
                <span class="d-inline-block ml-auto">77%</span>
              </div>
              <div class="progress progress-sm mb-3">
                <div class="progress-bar bg-info-400" role="progressbar" style="width: 77%;" aria-valuenow="77"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex">
                User Testing
                <span class="d-inline-block ml-auto">7 days</span>
              </div>
              <div class="progress progress-sm mb-g">
                <div class="progress-bar bg-primary-300" role="progressbar" style="width: 84%;" aria-valuenow="84"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="row no-gutters">
                <div class="col-6 pr-1">
                  <a href="#" class="btn btn-default btn-block waves-effect waves-themed">Generate PDF</a>
                </div>
                <div class="col-6 pl-1">
                  <a href="#" class="btn btn-default btn-block waves-effect waves-themed">Report a Bug</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 sortable-grid ui-sortable">
    <div id="panel-2" class="panel panel-sortable" data-panel-fullscreen="false" role="widget">
      <div class="panel-hdr" role="heading">
        <h2 class="ui-sortable-handle">
          Smart Chat
        </h2>
        <div class="panel-saving mr-2" style="display:none"><i class="fal fa-spinner-third fa-spin-4x fs-xl"></i></div>
        <div class="panel-toolbar" role="menu"><a href="#"
            class="btn btn-panel hover-effect-dot js-panel-collapse waves-effect waves-themed" data-toggle="tooltip"
            data-offset="0,10" data-original-title="Collapse"></a> <a href="#"
            class="btn btn-panel hover-effect-dot js-panel-close waves-effect waves-themed" data-toggle="tooltip"
            data-offset="0,10" data-original-title="Close"></a></div>
      </div>
      <div class="panel-container show" role="content">
        <div class="loader"><i class="fal fa-spinner-third fa-spin-4x fs-xxl"></i></div>
        <div class="panel-content p-0">
          <div class="d-flex flex-column">
            <div class="bg-subtlelight-fade custom-scroll" style="height: 244px">
              <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                <div class="h-100" style="overflow: hidden; width: auto; height: 100%;">
                  <!-- message -->
                  <div class="d-flex flex-row px-3 pt-3 pb-2">
                    <!-- profile photo : lazy loaded -->
                    <span class="status status-danger">
                      <span class="profile-image rounded-circle d-inline-block"
                        style="background-image:url('assets/images/user/avatar-j.png')"></span>
                    </span>
                    <!-- profile photo end -->
                    <div class="ml-3">
                      <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Lisa
                        Hatchensen</a>
                      Hey did you meet the new board of director? He's a bit of a geek if you ask me...anyway here is
                      the report you requested. I am off to launch with Lisa and Andrew, you wanna join?
                      <!-- file download -->
                      <div class="d-flex mt-3 flex-wrap">
                        <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                          <button type="button"
                            class="btn btn-default btn-xs btn-block px-1 py-1 fw-500 waves-effect waves-themed"
                            data-action="toggle">
                            <span class="d-block text-truncate text-truncate-sm">
                              <i class="fal fa-file-pdf mr-1 color-danger-700"></i> Report-2013-demographic-repo
                            </span>
                          </button>
                          <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button"
                              class="btn btn-default btn-xs dropdown-toggle px-2 js-waves-off" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu p-0 fs-xs" aria-labelledby="btnGroupDrop1">
                              <a class="dropdown-item px-3 py-2" href="#">Forward</a>
                              <a class="dropdown-item px-3 py-2" href="#">Open</a>
                              <a class="dropdown-item px-3 py-2" href="#">Delete</a>
                            </div>
                          </div>
                        </div>
                        <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                          <button type="button"
                            class="btn btn-default btn-xs btn-block px-1 py-1 fw-500 waves-effect waves-themed"
                            data-action="toggle">
                            <span class="d-block text-truncate text-truncate-sm">
                              <i class="fal fa-file-pdf mr-1 color-danger-700"></i> Bloodworks Patient 34124BA
                            </span>
                          </button>
                          <div class="btn-group" role="group">
                            <button id="btnGroupDrop2" type="button"
                              class="btn btn-default btn-xs dropdown-toggle px-2 js-waves-off" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu p-0 fs-xs" aria-labelledby="btnGroupDrop2">
                              <a class="dropdown-item px-3 py-2" href="#">Forward</a>
                              <a class="dropdown-item px-3 py-2" href="#">Open</a>
                              <a class="dropdown-item px-3 py-2" href="#">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- file download end -->
                    </div>
                  </div>
                  <!-- message end -->
                  <!-- message reply -->
                  <div class="d-flex flex-row px-3 pt-3 pb-2">
                    <!-- profile photo : lazy loaded -->
                    <span class="status status-danger">
                      <span class="profile-image rounded-circle d-inline-block"
                        style="background-image:url('assets/images/user/avatar-admin.png')"></span>
                    </span>
                    <!-- profile photo end -->
                    <div class="ml-3">
                      <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Dr. Codex
                        Lantern</a>
                      Thanks for the file! You guys go ahead, I have to call some of my patients.
                    </div>
                  </div>
                  <!-- message reply end -->
                </div>
                <div class="slimScrollBar"
                  style="background: rgba(0, 0, 0, 0.6); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 4px; height: 244px;">
                </div>
                <div class="slimScrollRail"
                  style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(250, 250, 250); opacity: 0.2; z-index: 90; right: 4px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 bg-faded">
          <textarea rows="3"
            class="form-control rounded-top border-bottom-left-radius-0 border-bottom-right-radius-0 border"
            placeholder="write a reply..."></textarea>
          <div class="d-flex align-items-center py-2 px-2 bg-white border border-top-0 rounded-bottom bg-primary">
            <div class="btn-group dropup">
              <button type="button" class="btn btn-icon fs-lg dropdown-toggle no-arrow waves-effect waves-themed"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fal fa-smile"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-animated text-center rounded-pill overflow-hidden"
                style="width: 280px">
                <div class="px-1 py-0">
                  <a href="javascript:void(0);" class="emoji emoji--like" data-toggle="tooltip" data-placement="top"
                    title="" data-original-title="Like">
                    <div class="emoji__hand">
                      <div class="emoji__thumb"></div>
                    </div>
                  </a>
                  <a href="javascript:void(0);" class="emoji emoji--love" data-toggle="tooltip" data-placement="top"
                    title="" data-original-title="Love">
                    <div class="emoji__heart"></div>
                  </a>
                  <a href="javascript:void(0);" class="emoji emoji--haha" data-toggle="tooltip" data-placement="top"
                    title="" data-original-title="Haha">
                    <div class="emoji__face">
                      <div class="emoji__eyes"></div>
                      <div class="emoji__mouth">
                        <div class="emoji__tongue"></div>
                      </div>
                    </div>
                  </a>
                  <a href="javascript:void(0);" class="emoji emoji--yay" data-toggle="tooltip" data-placement="top"
                    title="" data-original-title="Yay">
                    <div class="emoji__face">
                      <div class="emoji__eyebrows"></div>
                      <div class="emoji__mouth"></div>
                    </div>
                  </a>
                  <a href="javascript:void(0);" class="emoji emoji--wow" data-toggle="tooltip" data-placement="top"
                    title="" data-original-title="Wow">
                    <div class="emoji__face">
                      <div class="emoji__eyebrows"></div>
                      <div class="emoji__eyes"></div>
                      <div class="emoji__mouth"></div>
                    </div>
                  </a>
                  <a href="javascript:void(0);" class="emoji emoji--sad" data-toggle="tooltip" data-placement="top"
                    title="" data-original-title="Sad">
                    <div class="emoji__face">
                      <div class="emoji__eyebrows"></div>
                      <div class="emoji__eyes"></div>
                      <div class="emoji__mouth"></div>
                    </div>
                  </a>
                  <a href="javascript:void(0);" class="emoji emoji--angry" data-toggle="tooltip" data-placement="top"
                    title="" data-original-title="Angry">
                    <div class="emoji__face">
                      <div class="emoji__eyebrows"></div>
                      <div class="emoji__eyes"></div>
                      <div class="emoji__mouth"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-icon fs-lg waves-effect waves-themed">
              <i class="fal fa-paperclip"></i>
            </button>
            <div class="custom-control custom-checkbox custom-control-inline ml-auto hidden-sm-down">
              <input type="checkbox" class="custom-control-input" id="defaultInline1">
              <label class="custom-control-label" for="defaultInline1">Press <strong>ENTER</strong> to send</label>
            </div>
            <button class="btn btn-primary btn-sm ml-auto ml-sm-0 waves-effect waves-themed">
              Reply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 sortable-grid ui-sortable">
    <div id="panel-6" class="panel panel-sortable" role="widget">
      <div class="panel-hdr" role="heading">
        <h2 class="ui-sortable-handle">Secession Scale </h2>
        <div class="panel-saving mr-2" style="display:none"><i class="fal fa-spinner-third fa-spin-4x fs-xl"></i></div>
        <div class="panel-toolbar" role="menu"><a href="#"
            class="btn btn-panel hover-effect-dot js-panel-collapse waves-effect waves-themed" data-toggle="tooltip"
            data-offset="0,10" data-original-title="Collapse"></a> <a href="#"
            class="btn btn-panel hover-effect-dot js-panel-fullscreen waves-effect waves-themed" data-toggle="tooltip"
            data-offset="0,10" data-original-title="Fullscreen"></a> <a href="#"
            class="btn btn-panel hover-effect-dot js-panel-close waves-effect waves-themed" data-toggle="tooltip"
            data-offset="0,10" data-original-title="Close"></a></div>
        <div class="panel-toolbar" role="menu"><a href="#" class="btn btn-toolbar-master waves-effect waves-themed"
            data-toggle="dropdown"><i class="fal fa-ellipsis-v"></i></a>
          <div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0"><a href="#"
              class="dropdown-item js-panel-refresh"><span data-i18n="drpdwn.refreshpanel">Refresh Content</span></a> <a
              href="#" class="dropdown-item js-panel-locked"><span data-i18n="drpdwn.lockpanel">Lock Position</span></a>
            <div class="dropdown-multilevel dropdown-multilevel-left">
              <div class="dropdown-item"> <span data-i18n="drpdwn.panelcolor">Panel Style</span> </div>
              <div class="dropdown-menu d-flex flex-wrap" style="min-width: 9.5rem; width: 9.5rem; padding: 0.5rem"><a
                  href="#"
                  class="btn d-inline-block bg-primary-700 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-primary-700 bg-success-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-primary-500 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-primary-500 bg-info-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-primary-600 bg-primary-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-primary-600 bg-primary-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-info-600 bg-primray-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-info-600 bg-primray-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-info-600 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-info-600 bg-info-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-info-700 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-info-700 bg-success-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-success-900 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-success-900 bg-info-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-success-700 bg-primary-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-success-700 bg-primary-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-success-600 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-success-600 bg-success-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-danger-900 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-danger-900 bg-info-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-fusion-400 bg-fusion-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-fusion-400 bg-fusion-gradient" style="margin:1px;"></a> <a href="#"
                  class="btn d-inline-block bg-faded width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed"
                  data-panel-setstyle="bg-faded" style="margin:1px;"></a></div>
            </div>
            <div class="dropdown-divider m-0"></div><a href="#" class="dropdown-item js-panel-reset"><span
                data-i18n="drpdwn.resetpanel">Reset Panel</span></a>
          </div>
        </div>
      </div>
      <div class="panel-container show" role="content">
        <div class="loader"><i class="fal fa-spinner-third fa-spin-4x fs-xxl"></i></div>
        <div class="panel-content p-0 mb-g">
          <div
            class="alert alert-success alert-dismissible fade show border-faded border-left-0 border-right-0 border-top-0 rounded-0 m-0"
            role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
            <strong>Last update was on <span class="js-get-date">Monday, October 14, 2019</span></strong> - Your logs
            are all up to date.
          </div>
        </div>
        <div class="panel-content">
          <div class="row  mb-g">
            <div class="col-md-12 mr-lg-auto">
              <div class="d-flex mt-2 mb-1 fs-xs text-primary">
                Current Usage
              </div>
              <div class="progress progress-xs mb-3">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <div class="d-flex mt-2 mb-1 fs-xs text-info">
                Net Usage
              </div>
              <div class="progress progress-xs mb-3">
                <div class="progress-bar bg-info-500" role="progressbar" style="width: 30%;" aria-valuenow="30"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex mt-2 mb-1 fs-xs text-warning">
                Users blocked
              </div>
              <div class="progress progress-xs mb-3">
                <div class="progress-bar bg-warning-500" role="progressbar" style="width: 40%;" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex mt-2 mb-1 fs-xs text-danger">
                Custom cases
              </div>
              <div class="progress progress-xs mb-3">
                <div class="progress-bar bg-danger-500" role="progressbar" style="width: 15%;" aria-valuenow="15"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex mt-2 mb-1 fs-xs text-success">
                Test logs
              </div>
              <div class="progress progress-xs mb-3">
                <div class="progress-bar bg-success-500" role="progressbar" style="width: 25%;" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex mt-2 mb-1 fs-xs text-dark">
                Uptime records
              </div>
              <div class="progress progress-xs mb-3">
                <div class="progress-bar bg-fusion-500" role="progressbar" style="width: 10%;" aria-valuenow="10"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>