input[type="checkbox"] {
  display: inline;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0087c3;
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  color: #555;
  background: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

h2.name,
h2.name2 {
  font-size: 1.4em;
  font-weight: 400;
}

header {
  padding: 10px 0 0;
  margin-bottom: 20px;
  border-bottom: 0;
}

#logo {
  margin: 0;
}

#logo img {
  height: 160px;
}

#pdf-rgt-part {
  float: right;
  text-align: center;
  word-break: break-word;
}

#details {
  margin-bottom: 50px;
}

#client {
  padding-left: 3px;
  border-left: 3px solid #0087c3;
  float: left;
  width: 400px;
}

#client .to {
  color: #777;
}

h2.name {
  margin: 4px 0 0;
}

h2.name2 {
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
  width: 300px;
}

#invoice h1 {
  color: #0087c3;
  font-size: 15px;
  line-height: 1em;
  font-weight: 700;
  margin: 0 0 10px;
}

#invoice .date {
  font-size: 1.1em;
  color: #777;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  margin-bottom: 20px;
}

table td,
table th {
  font-size: 10px;
  padding: 2px 5px;
  text-align: left;
}

table td {
  border-bottom: 1px solid #000;
}

table th {
  border-bottom: 1px solid #fff;
  white-space: nowrap;
  background: #fff;
  font-weight: 600;
  color: #000;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table td h3 {
  color: #666;
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 0.2em;
}

table .no {
  text-align: left;
  color: #000;
  border-bottom: 1px solid #eee !important;
}

table .desc {
  text-align: left;
}

footer,
table .qty,
table .unit {
  text-align: center;
}

table .desc h3,
table .desc p {
  max-width: 300px;
}

table .total {
  border-right: 1px solid #eee !important;
}

table td.qty,
table td.total,
table td.unit {
  font-size: 16px;
  text-align: center;
}

table tbody tr td {
  border: none;
  border-bottom: 1px solid #000;
}

table tfoot td {
  padding: 10px;
  background: #fff;
  border-bottom: none;
  font-size: 15px;
  white-space: nowrap;
}

table tfoot tr:first-child td {
  border-top: none;
}

table tfoot tr:last-child td {
  font-size: 16px;
}

table tfoot tr td:first-child {
  border: none;
}

#thanks {
  font-size: 2em;
  margin-bottom: 50px;
}

#notices {
  padding-left: 6px;
  border-left: 6px solid #0087c3;
}

#notices .notice {
  font-size: 14px;
}

footer .left-part,
footer .right-part {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

footer {
  color: #045169;
  width: 100%;
  bottom: 0;
  padding: 18px 0;
  margin-top: 20px;
  background-color: #8bd2eb;
}

footer .left-part {
  float: left;
  padding-left: 15px;
}

footer .right-part {
  float: right;
  padding-right: 15px;
}

#student-name {
  display: inline-block;
}

#pdf-rgt-part h2 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.ttl-prc,
.ttl-prc-amnt {
  color: #008ec3;
  margin: 0;
  font-weight: 400;
}

.disp-tbl {
  display: table;
  width: 100%;
}

.disp-tbl-cell {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.ttl-prc {
  font-size: 22px !important;
}

.ttl-prc-amnt {
  font-size: 27px !important;
}

tfoot {
  vertical-align: top;
}

.table-grp h1.mn-heading {
  font-size: 12px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 2px 5px;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #000;
  margin-bottom: 0;
}

i.num-on {
  font-weight: 700;
  font-style: normal;
  color: #000;
  padding-right: 5px;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.para-area ul li {
  font-size: 10px;
  margin-bottom: 2px;
  color: #000;
  list-style: none;
}

.para-area ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 3px;
  margin-bottom: 0;
}

body {
  font-size: 11pt;
  color: #000;
}

textarea {
  border-color: #fff;
}

input[type="text"] {
  border-color: #fff;
}

input {
  border-color: #fff !important;
  font-size: 11px;
  overflow: hidden;
}

.bdr-naj {
  border: none;
}

i.num-on {
  border-right: 5px solid #fff;
  font-weight: bold;
}
input[type="text"] {
  height: 20px;
}
input[type="text"],
textarea {
  border: none;
  background: rgb(241, 244, 255);
  height: 20px;
}

input[type="text"]:focus,
textarea:focus {
  background: white;
}
