<div class="row">
  <div class="jumbotron col-12">
    <div class="container">
      <h1 class="display-4">Kubernetes Clusters Create</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum, orci quis
        sagittis consequat, tortor ipsum bibendum mi, non vehicula odio urna nec turpis. Phasellus egestas elit
        eget nisl dignissim, ac elementum dolor faucibus. Quisque massa est, tincidunt a molestie vitae, blandit
        id neque. Quisque consequat ultrices aliquet</p>
      <button class="btn btn-primary" type="button" (click)="gotToAddService()">
        <i class="feather icon-plus mr-2"></i>
        Add a cluster
      </button>
    </div>
  </div>
  <div class="col-sm-12">
    <h5 class="mt-4">Cloud Providers</h5>
    <hr>
    <tabset>
      <tab heading="AWS" class="p-4 mb-3">
        <smart-panel [collapsible]="true" [fullscreenable]="true" [clossable]="true" id="panel-1" #panel1>
          <h2 panelTitle>Large Nav Empty With Symbol</h2>
          <div panelContent>
            <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
              <wizard-step stepTitle="IAM" navigationSymbol="1">
                <div class="row">
                  <div class="col-sm-12 pb-2">
                    <h5>Create a new IAM user or use an existing IAM user and grant following permissions:
                    </h5>
                    AmazonEC2FullAccess <br>
                    AmazonRoute53FullAccess<br>
                    AmazonS3FullAccess<br>
                    AmazonVPCFullAccess
                  </div>
                  <div class="col-sm-12 centered-content">
                    <div class="btn-group mt-10">
                      <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
                    </div>
                  </div>
                </div>
              </wizard-step>
              <wizard-step stepTitle="Access" navigationSymbol="2">

                <div class="row pb-2">
                  <div class="col-sm-12">
                    <h5>Enter the Access Key & Secret Access Key - This is to allow us to create the Kubernetes cluster
                      for
                      you.</h5>
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">

                    <label class="col-form-label">Access Key</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="input-group mb-3">
                      <input type="text" placeholder="Access Key" name="AccessKey" class="form-control"
                        [(ngModel)]="clusterModel.AccessKey">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <label class="col-form-label">Secret Access Key</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="input-group mb-3">
                      <input type="text" placeholder="Secret Access Key" name="SecretAccessKey" class="form-control"
                        [(ngModel)]="clusterModel.SecretAccessKey">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 centered-content">
                    <div class="btn-group mt-10">
                      <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
                      <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
                    </div>
                  </div>

                </div>
              </wizard-step>
              <wizard-step stepTitle="Details" navigationSymbol="3">
                <form #detailsForm="ngForm">


                  <div class="row">
                    <div class="col-sm-12">
                      <h5>Configure your cluster, these details will be used to create your cluster</h5>
                      <hr>

                      <div class="row">
                        <div class="col-sm-3">

                          <label class="col-form-label">Cluster Name</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group mb-3">
                            <input type="text" placeholder="Cluster Name" name="ClusterName" class="form-control"
                              [(ngModel)]="clusterModel.ClusterName">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="col-form-label">Instant Type</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group mb-3">
                            <select name="InstantType" (change)="onInstantTypeChange()"
                              [(ngModel)]="clusterModel.InstantType" class="form-control form-control-default">
                              <option value="">Select a Instant Type</option>
                              <option *ngFor="let item of instantTypeDDList" [(value)]="item.key">
                                {{item.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">

                          <label class="col-form-label">Node Count</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group mb-3">
                            <input type="number" max="999999" min="1" #nodeCount="ngModel" placeholder="Node Count"
                              name="NodeCount" class="form-control" [(ngModel)]="clusterModel.NodeCount"
                              [ngClass]="{'is-invalid': !nodeCount.valid && (nodeCount.dirty || nodeCount.touched)}"
                              required>
                            <label *ngIf="!nodeCount.valid && (nodeCount.dirty || nodeCount.touched)"
                              class="error jquery-validation-error small form-text invalid-feedback">Node Count should
                              be numberic greter than zero.
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="col-form-label">Region</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group mb-3">
                            <select name="RegionId" (change)="onRegionChange()" [(ngModel)]="clusterModel.RegionId"
                              class="form-control form-control-default">
                              <option value="">Select Region</option>
                              <option *ngFor="let item of regionDDList" [(value)]="item.key">
                                {{item.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="col-form-label">Zone</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group mb-3">
                            <select name="select" (change)="onZoneChange()" [(ngModel)]="clusterModel.ZoneId"
                              class="form-control form-control-default">
                              <option value="">Select Zone</option>
                              <option *ngFor="let item of zoneDDList" [(value)]="item.key">
                                {{item.name}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>


                    </div>

                    <div class="col-sm-12 centered-content">
                      <div class="btn-group mt-10">
                        <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
                        <button type="button" class="btn btn-primary btn-sm" [disabled]="!detailsForm.valid"
                          nextStep>Continue</button>
                      </div>
                    </div>
                  </div>
                </form>
              </wizard-step>
              <wizard-step stepTitle="Configuration" navigationSymbol="4">
                <form #configurationForm="ngForm">
                  <div class="row">
                    <div class="col-sm-9">
                      <smart-panel [collapsible]="true" [fullscreenable]="true" [clossable]="true" id="panel-1" #panel2>
                        <h2 panelTitle>Confirm Configuration</h2>
                        <div panelContent>
                          <table class="table">
                            <tbody>
                              <tr>
                                <td><i class="fas fa-server m-r-5"></i> Cluster Name:</td>
                                <td class="text-right"><span class="float-right"><a class="text-secondary"
                                      href="javascript:"> {{clusterModel.ClusterName}}</a></span></td>
                              </tr>
                              <tr>
                                <td><i class="fas fa-adjust m-r-5"></i> Instance Type:</td>
                                <td class="text-right">{{clusterModel.InstantTypeName}}</td>
                              </tr>
                              <tr>
                                <td><i class="fas fa-list m-r-5"></i> Node Count:</td>
                                <td class="text-right">{{clusterModel.NodeCount}}</td>
                              </tr>
                              <tr>
                                <td><i class="fas fa-map-marker m-r-5"></i> Region Name:</td>
                                <td class="text-right">
                                  {{clusterModel.RegionName}}
                                </td>
                              </tr>
                              <tr>
                                <td><i class="fas fa-globe m-r-5"></i> Zone Name:</td>
                                <td class="text-right">
                                  {{clusterModel.ZoneName}}
                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </smart-panel>
                    </div>
                    <div class="col-sm-12 pl-5 pb-2">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck1" type="checkbox" [(ngModel)]="clusterModel" name="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Terms & Condition</label>
                      </div>
                    </div>
                    <div class="col-sm-12 centered-content">
                      <div class="btn-group mt-10">
                        <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
                        <button type="button" class="btn btn-success btn-sm" resetWizard>Create Cluster</button>
                      </div>
                    </div>
                  </div>
                </form>
              </wizard-step>
            </wizard>
          </div>
        </smart-panel>
      </tab>
      <tab heading="GOOGLE" class="p-4">
        <p>Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt
          incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate
          exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem
          amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut
          ullamco ea tempor duis.</p>
      </tab>
      <tab heading="CONTACT" class="p-4">
        <p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua
          irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu
          veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip
          sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam
          incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim
          do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt
          dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa
          veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate.
          Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate
          consequat non.</p>
      </tab>
    </tabset>
  </div>
</div>