@import "./../../../../scss/_modules/variables.scss";

.floatRight {
  float: right;
  margin: 0;
  cursor: pointer;
}
.btn-center{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 185px;
  height: 55px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  background-color:rgb(61,169,245);
  border-color: rgb(61,169,245);


}
.jumbotron{
  width: 100%;
}
.editService {
  border-radius: 5px;
}

.progress {
  justify-content: left;
  background-color: $color-danger;
}

.emptyContainer {
  text-align: center;
}
.btn {
  margin: 0;
}
.table tr:last-child td {
  border-bottom: 1px solid #eaeaea;
}

.user {
  display: inline-block;
  margin: 0 15px 10px 15px;
  text-align: center;
}