<div class="subheader">
    <h1 class="subheader-title">
        Theme Settings: <span class="fw-300">Saving to Database</span>
        <small>
            How to save and load settings from database
        </small>
    </h1>
</div>


<div class="row">
    <div class="col-xl-12">
      <div id="panel-1" class="panel">
        <div class="panel-hdr">	
          <h2>
            Test <span class="fw-300"><i>it out!</i></span> 
          </h2>
          <div class="panel-toolbar">
            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
            <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
          </div>
        </div>
        <div class="panel-container show">
          <div class="panel-content">									
            <div class="panel-tag">
               All changes are stored to localStorage by default. Remove <code>'settings'</code> key from <strong>localStorageSync</strong> in <strong>src/store/index.ts</strong> to disable this action.
            </div>
   
          </div>
        </div>
      </div>		
    </div>
  </div>