<div class="page-wrapper">
  <div class="page-inner">
    <smart-sidebar class="d-flex flex-column flex-fill "></smart-sidebar>

    <div class="page-content-wrapper">
      <smart-page-header></smart-page-header>

      <main id="js-page-content" role="main" class="page-content">
        <smart-page-breadcrumb></smart-page-breadcrumb>
        <router-outlet></router-outlet>
      </main>

      <smart-page-footer class="d-flex w-100 order-4 "></smart-page-footer>
    </div>

    <smart-fab-shortcut></smart-fab-shortcut>

    <!-- this overlay is activated only when mobile menu is triggered -->
    <div class="page-content-overlay" (click)="closeMobileNav($event)" data-class="mobile-nav-on"></div>
  </div>
</div>
