<div class="page-wrapper">
  <div class="page-inner bg-brand-gradient">
    <div class="page-content-wrapper bg-transparent m-0">
      <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">
          <div
            class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
            <a [routerLink]="['/']" class="page-logo-link press-scale-down d-flex align-items-center">
              <img src="assets/img/logo.png" alt="Click2Qualify" aria-roledescription="logo">
              <span class="page-logo-text mr-1">Click2Qualify</span>
            </a>
          </div>
          <span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
            Already a member?
          </span>
          <a [routerLink]="['/auth/login']" class="btn-link text-white ml-auto ml-sm-0">
            Secure Login
          </a>
        </div>
      </div>
      <div class="flex-1"
        style="background: url(assets/img/backgrounds/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">
            <div class="col-xl-12">
              <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                Register now, its free!
                <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                  Your registration is free for a limited time. Enjoy Click2Qualify on your mobile, desktop or tablet.
                  <br>It is ready to go wherever you go!
                </small>
              </h2>
            </div>
            <div class="col-xl-6 ml-auto mr-auto">
              <div class="card p-4 rounded-plus bg-faded">
                <form #personalForm="ngForm">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="">First name</label>
                        <div class="input-group mb-3">
                          <input name="firstName" #firstName="ngModel" placeholder="Enter First Name"
                            [ngClass]="{'is-invalid': !firstName.valid && (firstName.dirty || firstName.touched || isProfileFormSubmitted)}"
                            [(ngModel)]="signupModel.FirstName" required type="text" class="form-control">
                          <label
                            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || isProfileFormSubmitted)"
                            class="error jquery-validation-error small form-text invalid-feedback">
                            First Name - is a required field
                          </label>
                        </div>
                      </div>                      
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="">Last name</label>
                        <div class="input-group mb-3">
                          <input name="lastName" #lastName="ngModel" placeholder="Enter Last Name"
                            [ngClass]="{'is-invalid': !lastName.valid && (lastName.dirty || lastName.touched || isProfileFormSubmitted)}"
                            [(ngModel)]="signupModel.LastName" required type="text" class="form-control">
                          <label
                            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched || isProfileFormSubmitted)"
                            class="error jquery-validation-error small form-text invalid-feedback">
                            Last Name - is a required field
                          </label>
                        </div>
                      </div>                      
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Email address</label>
                    <div class="input-group mb-3">
                      <input name="email" #email="ngModel" required type="text" email placeholder="Enter Email"
                        [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isProfileFormSubmitted)}"
                        [(ngModel)]="signupModel.Email" class="form-control">
                      <label *ngIf="email.invalid && (email.dirty || email.touched || isProfileFormSubmitted)"
                        class="error jquery-validation-error small form-text invalid-feedback">
                        Email - is a required field
                      </label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="">Password</label>
                        <div class="input-group mb-3">
                          <input type="password" #password="ngModel" required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,20}$" placeholder="Enter Password"
                            name="password" class="form-control" [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched 
                          || isSubmitted)}" [(ngModel)]="signupModel.password">
                          <label
                            *ngIf="password.invalid && (password.dirty || password.touched || isSubmitted)"
                            class="error jquery-validation-error small form-text invalid-feedback">
                            Valid Password - is a required field
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="">Confirm Password</label>
                        <div class="input-group mb-3">
                          <input type="password" #passwordConfirm="ngModel" required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,20}$" placeholder="Enter Confirm Password"
                            name="passwordConfirm" class="form-control" [ngClass]="{'is-invalid': !passwordConfirm.valid && (passwordConfirm.dirty || passwordConfirm.touched 
                          || isSubmitted)}" [(ngModel)]="signupModel.passwordConfirm">
                          <label
                            *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched || isSubmitted)"
                            class="error jquery-validation-error small form-text invalid-feedback">
                            Valid Confirm Password - is a required field
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Phone number</label>
                    <div class="input-group mb-3 signupDropdown">
                      <div class="input-group-prepend">
                        <button class="btn btn-primary dropdown-toggle" (click)="toggleDropdown()"
                          type="button">+{{selectedCountry}}</button>
                        <div class="dropdown-menu" [ngClass]="{'show': showCountry}">
                          <div class="scroll">
                            <div class="dropdown-item" *ngFor="let countryCode of countryCodes"
                              (click)="selectCountryCode(countryCode.dialCode)">+{{countryCode.dialCode+": "+countryCode.name}}</div>
                          </div>
                        </div>
                      </div>
                      <input [(ngModel)]="signupModel.Mobile" name="mobile" type="text" class="form-control"
                        aria-label="Text input with dropdown button">
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary shadow-2 mb-4 mt-2" 
                      (click)="onSignUp(personalForm)">Sign up</button>
                  </div>
                  <p class="mb-0 text-muted">
                    Already have an account? <a [routerLink]="['/auth/login']"> Log in</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
          2019 © Click2Qualify by&nbsp;<a href="https://www.gotbootstrap.com" class="text-white opacity-40 fw-500"
            title="gotbootstrap.com" target="_blank">gotbootstrap.com</a>
        </div>
      </div>
    </div>
  </div>
</div>