.form-group {
  text-align: left;
}
.phone-number-container {
  background: white; //$theme-color2;
  border-radius: 3px;
  padding: 10px 20px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  
}